@charset "UTF-8";
/* Definição de fontes personalizadas para o logotipo */
@font-face {
  font-family: "barber";
  src: url(/Assets/fonts/RichTheBarberPersonalUse-gx824.ttf);
}
@font-face {
  font-family: "Queen";
  src: url(/Assets/fonts/Queensides-3z7Ey.ttf);
}
@font-face {
  font-family: "ananda";
  src: url(/Assets/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}
/* Configuração global de scroll suave */
html {
  scroll-behavior: smooth;
}

/* Estilos para a barra de navegação (navbar) */
#navegacao {
  min-height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para o logotipo */
#logo {
  min-height: 10vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
}

#logo-texto {
  font-family: "barber";
  color: #fff;
  font-size: 40px;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
}

#logo-texto:hover {
  color: #EFB43A;
  transition: 3ms;
  cursor: pointer;
}

#logo-since {
  color: #fff;
  font-family: "Queen";
}

/* Estilos para o ícone de login */
#login {
  min-height: 10vh;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: right;
  left: 0;
}

#icon-login {
  font-size: 24px;
  color: #fff;
  margin-right: 80px;
}

#icon-login:hover {
  cursor: pointer;
  color: #EFB43A;
  transition: 0.3s;
}

/* Estilos para o menu da barra de navegação */
.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  left: 50%;
}

.lista-link {
  color: #fff;
  font-family: "Queen";
  text-decoration: none;
}

.lista-link:hover {
  color: #EFB43A;
  transition: 3ms;
}

.active-link {
  color: #EFB43A;
}

/* Estilos para as seções com efeito de parallax */
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos para a seção "HOME" */
#secao-home {
  background-image: url("/Assets/img/banner.jpg");
}

#banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#texto-banner-small {
  color: #fff;
  font-family: "Queen";
  font-size: 40px;
  margin-top: 160px;
}

#texto-banner-bold {
  color: #fff;
  font-family: "Queen";
  font-size: 80px;
  font-weight: bold;
}

#botao-banner {
  width: 240px;
  height: 60px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

#botao-banner-servico {
  background-color: #EFB43A;
  border: #242424 1px solid;
  width: 230px;
  height: 50px;
  font-family: "Queen";
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

#botao-banner-servico:hover {
  color: #fff;
  transition: 3ms;
  background-color: #f3b02b;
  cursor: pointer;
}

#icone-redes {
  position: absolute;
  top: 20vh;
  right: 80px;
}

.fa-brands {
  color: #fff;
  font-size: 24px;
  margin-left: 16px;
}

.fa-brands:hover {
  color: #EFB43A;
  transition: 3ms;
  cursor: pointer;
}

/* Estilos para a seção "SERVIÇOS" */
#secao-servico {
  background-image: url("/Assets/img/papel_de_parede_servicos.jpg");
  width: 100%;
  height: 100vh;
}

#servico-tabela {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#servico-tabela-img {
  width: 60%;
  margin-top: 42px;
}

#botao-tabela {
  position: absolute;
  background-color: #EFB43A;
  width: 210px;
  height: 60px;
  top: 79vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#botao-tabela-agendar {
  width: 200px;
  height: 50px;
  background-color: #EFB43A;
  border: #242424 1px solid;
  font-family: "Queen";
  font-size: 20px;
  font-weight: bold;
}

#botao-tabela-agendar:hover {
  color: #fff;
  transition: 3ms;
  background-color: #f3b02b;
  cursor: pointer;
}

/* Estilos para a seção "AGENDA" */
#secao-agenda {
  background-image: url("/Assets/img/img-fundo.jpg");
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

#agenda {
  width: 90vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#agenda-titulos {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para seção "SERVIÇO" */
#selecionar-servico {
  width: 21.5vw;
  height: 76vh;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#servico-titulo {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
  height: 24px;
  margin-top: 8px;
}

#conteudo-servico {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Queen";
  color: #fff;
  margin: 8px;
  border-bottom: 1px dashed #EFB43A;
}

/* Estilos para seção "DATA" */
#selecionar-data {
  width: 21.5vw;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controls {
  width: 21.5vw;
  height: 80px;
}

#semana {
  width: 21.5vw;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#semana-dia {
  width: 42px;
  text-align: center;
  color: #fff;
}

#currentMonthYear {
  color: #fff;
}

#nextMonth {
  background-color: rgba(0, 0, 0, 0.9);
  border-style: none;
}

.fa-forward {
  color: #fff;
}

#prevMonth {
  background-color: rgba(0, 0, 0, 0.9);
  border-style: none;
}

.fa-backward {
  color: #fff;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 294px;
  color: #fff;
}

.day {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: #0074d9;
  color: #fff;
}

.result {
  color: #fff;
  margin-top: 10px;
}

.controls {
  margin-top: 20px;
  text-align: center;
}

#data-espaco {
  height: 160px;
}

/* Estilos para seção "HORÁRIO" */
#selecionar-horario {
  width: 21.5vw;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#horarios {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#primeira-coluna-horario {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#segunda-coluna-horario {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#hora {
  width: 100px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: #fff 1px solid;
}

#hora:hover {
  border: #EFB43A 1px solid;
  background-color: rgba(255, 224, 138, 0.1);
  transition: 3ms;
  cursor: pointer;
}

#hora.ativa {
  background-color: #0074d9; /* Cor de fundo ativa */
  border: 2px solid #0056b3; /* Borda ativa */
}

#horario-espaco {
  width: 100%;
  height: 40px;
}

/* Estilos para a seção "DETALHES DO AGENDAMENTO */
#detalhes-resultado {
  width: 21.5vw;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1vw;
}

#selecionado-titulo {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

#servico-selecionado {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#servico-espaco {
  width: 100%;
  height: 140px;
}

#resultado {
  color: #fff;
  font-family: "Queen";
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#data-selecionada {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result {
  color: #fff;
  font-family: "Queen";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#horario-selecionado {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resultado_hora {
  color: #fff;
  font-family: "Queen";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#botao-proximo-borda {
  width: 210px;
  height: 60px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button {
  width: 200px;
  height: 50px;
  background-color: #EFB43A;
  font-family: "Queen";
  border: #242424 1px solid;
  font-size: 20px;
  font-weight: bold;
}

.modal-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f3b02b;
}

/* Estilos para a seção "QUEM SOMOS" */
#secao-quemSomos {
  position: relative;
  background-image: url("/Assets/img/quesomos-fundo.jpg");
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo-quemSomos {
  position: absolute;
  color: #EFB43A;
  z-index: 1;
  top: 15vh;
  font-family: "ananda";
  font-size: 80px;
}

#secao-conteudo {
  position: relative;
  width: 80vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#quemSomos-imagem {
  width: 22.5%;
  height: 90%;
  background-color: #242424;
  margin-left: 2.5%;
  overflow: hidden;
}

#quemSomos-imagem-conteudo {
  width: 100%;
}

#quemSomos-historia {
  color: #fff;
  font-family: "Queen";
  font-size: 24px;
}

#quemSomos-conteudo {
  width: 70%;
  height: 90%;
  margin-right: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para o rodapé */
#rodape {
  width: 100%;
  height: 20vh;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rodape-conteudos {
  width: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  padding-left: 40px;
}

#rodape-conteudos-barra {
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: #fff 1px solid;
  padding-left: 40px;
}

#rodape-conteudo-titulo {
  font-family: "Queen";
  color: #EFB43A;
}

#rodape-texto {
  font-family: "Queen";
  color: #fff;
}

#rodape-texto-direitos-reservados {
  font-size: 12px;
  font-family: "Queen";
  color: #fff;
}

#rodape-icone {
  font-size: 16px;
}

#link-imagem-maps {
  font-family: "Queen";
  color: #fff;
  text-decoration: none;
  margin-bottom: 32px;
}

/* Estilo para a janela modal */
.modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: flex;
}

.modal-content {
  background-color: #191A1D;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#close-modal {
  color: #fff;
  font-family: "Queen";
  width: 100%;
  height: 10%;
  margin: 0 auto;
  text-align: center;
}

#conteudo-modal {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#formulario {
  width: 70%;
  height: 100%;
}

#informacao-agendamento {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#formulario-titulo-oauth {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #53533f 1px solid;
}

#icone-google-oauth {
  width: 24px;
}

#titulo-formulario {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 24px;
  margin-left: 40px;
  font-weight: bold;
}

#nome-email {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15%;
}

#fomulario-nome {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#formulario-email {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#input-nome {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}

#label-nome {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#input-email {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}

#label-email {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#formulario-endereco {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 40px;
  height: 15%;
  justify-content: center;
}

#input-endereco {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}

#label-endereco {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#cidade-bairro-zap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  margin-left: 40px;
}

#formulario-cidade {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#input-cidade {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}

#label-cidade {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#formulario-bairro {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#input-bairro {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}

#label-bairro {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#formulario-zap {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#input-zap {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}

#label-zap {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#formulario-mensagem {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 30%;
  margin-left: 40px;
  justify-content: center;
}

#input-mensagem {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 120px;
  color: #EFB43A;
}

#label-mensagem {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}

#informacao {
  width: 90%;
  height: 10%;
  border-bottom: #53533f 1px solid;
}

#informacao-texto {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 24px;
  font-weight: bold;
}

#botao-formulario {
  width: 220px;
  height: 60px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

#botao-agendar-agora {
  width: 210px;
  height: 50px;
  background-color: #EFB43A;
  border: #EFB43A 1px solid;
  font-family: "Queen";
  font-size: 20px;
}

#botao-agendar-agora:hover {
  color: #fff;
  cursor: pointer;
  background-color: #f3b02b;
}/*# sourceMappingURL=style.css.map */