@charset "UTF-8";
@font-face {
  font-family: "barber";
  src: url(/Assets/fonts/RichTheBarberPersonalUse-gx824.ttf);
}
@font-face {
  font-family: "Queen";
  src: url(/Assets/fonts/Queensides-3z7Ey.ttf);
}
@font-face {
  font-family: "ananda";
  src: url(/Assets/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}
html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  /* NAVBAR MOBILE*/
  #navegacao-mobile {
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    /* LOGOTIPO*/
    /*BOTÃO TOGGLE*/
    /*MENU MOBILE*/
  }
  #navegacao-mobile #logo {
    min-height: 10vh;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  }
  #navegacao-mobile #logo #logo-texto {
    font-family: "barber";
    color: #fff;
    font-size: 40px;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
  }
  #navegacao-mobile #logo #logo-texto:hover {
    color: #EFB43A;
    transition: 3ms;
    cursor: pointer;
  }
  #navegacao-mobile #logo #logo-since {
    color: #fff;
    font-family: "Queen";
  }
  #navegacao-mobile .menu-toggle {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navegacao-mobile .menu-toggle.active .fa-bars {
    transform: rotate(180deg);
    opacity: 0;
  }
  #navegacao-mobile .menu-toggle.active .fa-xmark {
    opacity: 1;
  }
  #navegacao-mobile .fa-bars,
  #navegacao-mobile .fa-xmark {
    position: absolute;
    font-size: 40px;
    transition: 0.3s;
  }
  #navegacao-mobile .fa-xmark {
    opacity: 0;
  }
  #navegacao-mobile .menu-mobile {
    position: absolute;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.97);
    top: -100vh;
    transition: transform 1s ease-in-out;
  }
  #navegacao-mobile .menu-mobile #lista-mobile {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #navegacao-mobile .menu-mobile #lista-mobile #lista-mobile__menu {
    color: #fff;
    font-family: "Queen";
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #fff;
  }
  #navegacao-mobile .menu-mobile #lista-mobile #lista-mobile__menu #lista-mobile__link {
    text-decoration: none;
    color: #fff;
    font-family: "Queen";
    margin-left: 24px;
  }
  #navegacao-mobile .menu-mobile.active {
    position: absolute;
    transform: translateY(100vh);
    margin-top: 15vh;
  }
  /* PRINCIPAL */
  #principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Estilos para as seções com efeito de parallax */
    /* HOME MOBILE */
    /* SERVIÇOS MOBILE */
    /* SEÇÃO AGENDA */
    /* Estilos para as seções 'QUEM SOMOS' */
  }
  #principal .parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #principal #secao-home-mobile {
    background-image: url(/Assets/img/banner.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* TEXTO BANNER */
  }
  #principal #secao-home-mobile #banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* REDES SOCIAIS */
    /* TEXTO BANNER */
    /* BOTÃO BANNER 'SERVIÇOS' */
  }
  #principal #secao-home-mobile #banner #icone-redes {
    margin-bottom: 80px;
  }
  #principal #secao-home-mobile #banner #icone-redes .fa-brands {
    color: #fff;
    font-size: 24px;
    margin-left: 16px;
  }
  #principal #secao-home-mobile #banner #texto-banner-small {
    color: #fff;
    font-family: "Queen";
    font-size: 20px;
  }
  #principal #secao-home-mobile #banner #texto-banner-bold {
    color: #fff;
    font-family: "Queen";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
    margin-left: 16px;
    margin-right: 16px;
  }
  #principal #secao-home-mobile #banner #botao-banner {
    width: 240px;
    height: 60px;
    background-color: #EFB43A;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #principal #secao-home-mobile #banner #botao-banner #botao-banner-servico {
    background-color: #EFB43A;
    border: #242424 1px solid;
    width: 230px;
    height: 50px;
    font-family: "Queen";
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
  }
  #principal #secao-home-mobile #banner #botao-banner #botao-banner-servico:hover {
    color: #fff;
    transition: 3ms;
    background-color: #f3b02b;
    cursor: pointer;
  }
  #principal #secao-servicos-mobile {
    background-image: url(/Assets/img/img-fundo-servico.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #principal #secao-servicos-mobile #tabela-vertical {
    width: 96%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #principal #secao-servicos-mobile #tabela-vertical #tabela-vertical-img {
    width: 100%;
    height: auto;
  }
  #principal #secao-servicos-mobile #botao-tabela {
    margin-top: 24px;
    width: 240px;
    height: 60px;
    background-color: #EFB43A;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #principal #secao-servicos-mobile #botao-tabela__link {
    background-color: #EFB43A;
    border: #242424 1px solid;
    width: 230px;
    height: 50px;
    font-family: "Queen";
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
  }
  #principal #secao-servicos-mobile #botao-tabela__link:hover {
    color: #fff;
    transition: 3ms;
    background-color: #f3b02b;
    cursor: pointer;
  }
  #principal #secao-agenda-mobile {
    background-image: url(/Assets/img/img-fundo-agenda.jpg);
    width: 100%;
    height: 100vh;
    transition: right 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* SEÇÃO AGENDA - [SERVIÇOS] */
    /* SEÇÃO AGENDA - CALENDÁRIO */
    /* SEÇÃO AGENDA - HORA */
    /* SEÇÃO AGENDA - DETALHES */
  }
  #principal #secao-agenda-mobile #agenda-servico {
    position: absolute;
    width: 90%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 4;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* SERVIÇOS TITULO */
    /* BARBA */
    /* CABELO */
    /* BOTÃO SERVIÇOS */
  }
  #principal #secao-agenda-mobile #agenda-servico #titulo-servicos {
    font-family: "Queen";
    font-size: 24px;
    color: #EFB43A;
    margin-top: 8px;
  }
  #principal #secao-agenda-mobile #agenda-servico #barba {
    width: 90%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Queen";
    /* BARBA TITULO */
    /* CHECKBOX TRADICIONAL */
    /* CHECKBOX HIDRATAÇÃO */
  }
  #principal #secao-agenda-mobile #agenda-servico #barba #titulo-barba {
    color: #EFB43A;
    font-family: "Queen";
    font-weight: bold;
    margin-bottom: 8px;
  }
  #principal #secao-agenda-mobile #agenda-servico #barba #barba-tradicional {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: dashed #EFB43A 1px;
    /* CHECKBOX DESENHADA */
  }
  #principal #secao-agenda-mobile #agenda-servico #barba #barba-desenhada {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #barba #barba-hidratacao {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo {
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Queen";
    /* TÍTUMO CABELO */
    /* CHECKBOX CORTE */
    /* CHECKBOX PEZINHO */
    /* CHECKBOX MAQUINA */
    /* CHECKBOX DESENHO */
    /* CHECKBOX TINTURA */
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo #titulo-cabelo {
    color: #EFB43A;
    font-family: "Queen";
    font-weight: bold;
    margin-bottom: 8px;
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo #cabelo-corte {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 5vh;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo #cabelo-pezinho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 5vh;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo #cabelo-maquina {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 5vh;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo #cabelo-desenho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 5vh;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #cabelo #cabelo-tintura {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 5vh;
    border-bottom: dashed #EFB43A 1px;
  }
  #principal #secao-agenda-mobile #agenda-servico #botao-servico {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #principal #secao-agenda-mobile #agenda-servico #botao-servico #margem-botao-servico {
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFB43A;
  }
  #principal #secao-agenda-mobile #agenda-servico #botao-servico #margem-botao-servico #botao-proximo-servico {
    background-color: #EFB43A;
    border: #242424 1px solid;
    width: 230px;
    height: 50px;
    font-family: "Queen";
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
  }
  #principal #secao-agenda-mobile #agenda-servico #botao-servico #margem-botao-servico #botao-proximo-servico:active {
    color: #fff;
  }
  #principal #secao-agenda-mobile #agenda-calendario {
    position: absolute;
    width: 90%;
    height: 60vh;
    background-color: rgb(145, 224, 17);
    z-index: 3;
    transition: transform 0.5s ease;
  }
  #principal #secao-agenda-mobile #agenda-hora {
    position: absolute;
    width: 90%;
    height: 60vh;
    background-color: rgb(17, 89, 224);
    z-index: 2;
    transition: transform 0.5s ease;
  }
  #principal #secao-agenda-mobile #agenda-detalhes {
    position: absolute;
    width: 90%;
    height: 60vh;
    background-color: rgb(217, 17, 224);
    z-index: 1;
    transition: transform 0.5s ease;
  }
  #principal #secao-agenda-mobile .deslocar-direita {
    transform: translateX(-100vw);
  }
  #principal #secao-agenda-mobile .deslocar-esquerda {
    transform: translateX(100vw);
  }
  #principal #secao-quemSomos-mobile {
    background-image: url(/Assets/img/quesomos-fundo.jpg);
    width: 100%;
    height: 90vh;
  }
  #rodape-mobile {
    width: 100%;
    height: 10vh;
    background-color: #242424;
  }
}/*# sourceMappingURL=style-responsive.css.map */