@charset "UTF-8";
/* Definição de fontes personalizadas para o logotipo */
@font-face {
  font-family: "barber";
  src: url(/Assets/fonts/RichTheBarberPersonalUse-gx824.ttf);
}
@font-face {
  font-family: "Queen";
  src: url(/Assets/fonts/Queensides-3z7Ey.ttf);
}
@font-face {
  font-family: "ananda";
  src: url(/Assets/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}
/* Configuração global de scroll suave */
html {
  scroll-behavior: smooth;
}

/* Estilos para a barra de navegação (navbar) */
#navegacao {
  min-height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  /* Estilos para o logotipo */
  /* Estilos para o ícone de login */
}
#navegacao #logo {
  min-height: 10vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
}
#navegacao #logo #logo-texto {
  font-family: "barber";
  color: #fff;
  font-size: 40px;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
}
#navegacao #logo #logo-texto:hover {
  color: #EFB43A;
  transition: 3ms;
  cursor: pointer;
}
#navegacao #logo #logo-since {
  color: #fff;
  font-family: "Queen";
}
#navegacao #menu {
  /* Estilos para o menu da barra de navegação */
}
#navegacao #menu .lista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  left: 50%;
}
#navegacao #menu .lista .lista-menu .lista-link {
  color: #fff;
  font-family: "Queen";
  text-decoration: none;
}
#navegacao #menu .lista .lista-menu .lista-link:hover {
  color: #EFB43A;
  transition: 3ms;
}
#navegacao #menu .lista .lista-menu .active-link {
  color: #EFB43A;
}
#navegacao #login {
  min-height: 10vh;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: right;
  left: 0;
}
#navegacao #login #icon-login {
  font-size: 24px;
  color: #fff;
  margin-right: 80px;
}
#navegacao #login #icon-login:hover {
  cursor: pointer;
  color: #EFB43A;
  transition: 0.3s;
}

/* Estilos para as seções com efeito de parallax */
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos para a seção "HOME" */
#secao-home {
  background-image: url("/Assets/img/banner.jpg");
}
#secao-home #banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#secao-home #banner #texto-banner-small {
  color: #fff;
  font-family: "Queen";
  font-size: 40px;
  margin-top: 160px;
}
#secao-home #banner #texto-banner-bold {
  color: #fff;
  font-family: "Queen";
  font-size: 80px;
  font-weight: bold;
}
#secao-home #banner #botao-banner {
  width: 240px;
  height: 60px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
#secao-home #banner #botao-banner #botao-banner-servico {
  background-color: #EFB43A;
  border: #242424 1px solid;
  width: 230px;
  height: 50px;
  font-family: "Queen";
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
#secao-home #banner #botao-banner #botao-banner-servico:hover {
  color: #fff;
  transition: 3ms;
  background-color: #f3b02b;
  cursor: pointer;
}
#secao-home #icone-redes {
  position: absolute;
  top: 20vh;
  right: 80px;
}
#secao-home #icone-redes .fa-brands {
  color: #fff;
  font-size: 24px;
  margin-left: 16px;
}
#secao-home #icone-redes .fa-brands:hover {
  color: #EFB43A;
  transition: 3ms;
  cursor: pointer;
}

/* Estilos para a seção "SERVIÇOS" */
#secao-servico {
  background-image: url("/Assets/img/papel_de_parede_servicos.jpg");
  width: 100%;
  height: 100vh;
}
#secao-servico #servico-tabela {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#secao-servico #servico-tabela #servico-tabela-img {
  width: 60%;
  margin-top: 42px;
}
#secao-servico #servico-tabela #botao-tabela {
  position: absolute;
  background-color: #EFB43A;
  width: 210px;
  height: 60px;
  top: 79vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#secao-servico #servico-tabela #botao-tabela #botao-tabela-agendar {
  width: 200px;
  height: 50px;
  background-color: #EFB43A;
  border: #242424 1px solid;
  font-family: "Queen";
  font-size: 20px;
  font-weight: bold;
}
#secao-servico #servico-tabela #botao-tabela #botao-tabela-agendar:hover {
  color: #fff;
  transition: 3ms;
  background-color: #f3b02b;
  cursor: pointer;
}

/* Estilos para a seção "AGENDA" */
#secao-agenda {
  background-image: url("/Assets/img/img-fundo.jpg");
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}
#secao-agenda #agenda {
  width: 90vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#secao-agenda #agenda #selecionar-servico {
  width: 21.5vw;
  height: 76vh;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#secao-agenda #agenda #selecionar-servico #agenda-titulos {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#secao-agenda #agenda #selecionar-servico #servico-titulo {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
  height: 24px;
  margin-top: 8px;
}
#secao-agenda #agenda #selecionar-servico #conteudo-servico {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Queen";
  color: #fff;
  margin: 8px;
  border-bottom: 1px dashed #EFB43A;
}
#secao-agenda #agenda #selecionar-data {
  width: 21.5vw;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#secao-agenda #agenda #selecionar-data #calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#secao-agenda #agenda #selecionar-data #calendario #controls {
  width: 21.5vw;
  height: 80px;
}
#secao-agenda #agenda #selecionar-data #calendario #semana {
  width: 21.5vw;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#secao-agenda #agenda #selecionar-data #calendario #semana #semana-dia {
  width: 42px;
  text-align: center;
  color: #fff;
}
#secao-agenda #currentMonthYear {
  color: #fff;
}
#secao-agenda #nextMonth {
  background-color: rgba(0, 0, 0, 0.9);
  border-style: none;
}
#secao-agenda .fa-forward {
  color: #fff;
}
#secao-agenda #prevMonth {
  background-color: rgba(0, 0, 0, 0.9);
  border-style: none;
}
#secao-agenda .fa-backward {
  color: #fff;
}
#secao-agenda .calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 294px;
  color: #fff;
}
#secao-agenda .day {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
#secao-agenda .selected {
  background-color: #0074d9;
  color: #fff;
}
#secao-agenda .result {
  color: #fff;
  margin-top: 10px;
}
#secao-agenda .controls {
  margin-top: 20px;
  text-align: center;
}
#secao-agenda #data-espaco {
  height: 160px;
}

/* Estilos para seção "HORÁRIO" */
#selecionar-horario {
  width: 21.5vw;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#selecionar-horario #horarios {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#selecionar-horario #horarios #primeira-coluna-horario {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#selecionar-horario #horarios #primeira-coluna-horario #hora {
  width: 100px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: #fff 1px solid;
}
#selecionar-horario #horarios #primeira-coluna-horario #hora:hover {
  border: #EFB43A 1px solid;
  background-color: rgba(255, 224, 138, 0.1);
  transition: 3ms;
  cursor: pointer;
}
#selecionar-horario #horarios #primeira-coluna-horario #hora.ativa {
  background-color: #0074d9;
  /* Cor de fundo ativa */
  border: 2px solid #0056b3;
  /* Borda ativa */
}
#selecionar-horario #horarios #segunda-coluna-horario {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#selecionar-horario #horarios #hora {
  width: 100px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: #fff 1px solid;
}
#selecionar-horario #horarios #hora:hover {
  border: #EFB43A 1px solid;
  background-color: rgba(255, 224, 138, 0.1);
  transition: 3ms;
  cursor: pointer;
}
#selecionar-horario #horarios #hora.ativa {
  background-color: #0074d9;
  /* Cor de fundo ativa */
  border: 2px solid #0056b3;
  /* Borda ativa */
}
#selecionar-horario #horario-espaco {
  width: 100%;
  height: 40px;
}

/* Estilos para a seção "DETALHES DO AGENDAMENTO */
#detalhes-resultado {
  width: 21.5vw;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1vw;
  /* Estilo para a janela modal */
}
#detalhes-resultado #servico-selecionado {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#detalhes-resultado #servico-selecionado #selecionado-titulo {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
#detalhes-resultado #servico-selecionado #resultado {
  color: #fff;
  font-family: "Queen";
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#detalhes-resultado #servico-selecionado #servico-espaco {
  width: 100%;
  height: 140px;
}
#detalhes-resultado #data-selecionada {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#detalhes-resultado #data-selecionada #selecionado-titulo {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
#detalhes-resultado #data-selecionada #result {
  color: #fff;
  font-family: "Queen";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#detalhes-resultado #horario-selecionado {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#detalhes-resultado #horario-selecionado #selecionado-titulo {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
#detalhes-resultado #horario-selecionado #resultado_hora {
  color: #fff;
  font-family: "Queen";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#detalhes-resultado #botao-proximo-borda {
  width: 210px;
  height: 60px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
}
#detalhes-resultado #botao-proximo-borda .modal-button {
  width: 200px;
  height: 50px;
  background-color: #EFB43A;
  font-family: "Queen";
  border: #242424 1px solid;
  font-size: 20px;
  font-weight: bold;
}
#detalhes-resultado #botao-proximo-borda .modal-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f3b02b;
}
#detalhes-resultado .modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: flex;
}
#detalhes-resultado .modal .modal-content {
  background-color: #191A1D;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#detalhes-resultado .modal .modal-content #close-modal {
  color: #fff;
  font-family: "Queen";
  width: 100%;
  height: 10%;
  margin: 0 auto;
  text-align: center;
}
#detalhes-resultado .modal .modal-content #conteudo-modal {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario {
  width: 70%;
  height: 100%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #formulario-titulo-oauth {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #53533f 1px solid;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #formulario-titulo-oauth #titulo-formulario {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 24px;
  margin-left: 40px;
  font-weight: bold;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email #fomulario-nome {
  display: flex;
  flex-direction: column;
  width: 40%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email #fomulario-nome #input-nome {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email #fomulario-nome #label-nome {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email #formulario-email {
  display: flex;
  flex-direction: column;
  width: 40%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email #formulario-email #input-email {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #nome-email #formulario-email #label-email {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #formulario-endereco {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 40px;
  height: 15%;
  justify-content: center;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #formulario-endereco #input-endereco {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #formulario-endereco #label-endereco {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  margin-left: 40px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-cidade {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-cidade #input-cidade {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-cidade #label-cidade {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-bairro {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-bairro #input-bairro {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-bairro #label-bairro {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-zap {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-zap #input-zap {
  background-color: #191A1D;
  border: #EFB43A 1px solid;
  height: 24px;
  color: #EFB43A;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #formulario #cidade-bairro-zap #formulario-zap #label-zap {
  color: #fff;
  font-family: "Queen";
  font-size: 20px;
  margin-bottom: 8px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #informacao {
  width: 100%;
  height: 10%;
  border-bottom: #53533f 1px solid;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #informacao #informacao-texto {
  font-family: "Queen";
  color: #EFB43A;
  font-size: 24px;
  font-weight: bold;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #servico-espaco {
  width: 100%;
  height: 100px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #result {
  color: #fff;
  font-family: "Queen";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #resultado_hora {
  color: #fff;
  font-family: "Queen";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #botao-formulario {
  width: 220px;
  height: 60px;
  background-color: #EFB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #botao-formulario #botao-agendar-agora {
  width: 210px;
  height: 50px;
  background-color: #EFB43A;
  border: #EFB43A 1px solid;
  font-family: "Queen";
  font-size: 20px;
}
#detalhes-resultado .modal .modal-content #conteudo-modal #informacao-agendamento #botao-formulario #botao-agendar-agora:hover {
  color: #fff;
  cursor: pointer;
  background-color: #f3b02b;
}

/* Estilos para a seção "QUEM SOMOS" */
#secao-quemSomos {
  position: relative;
  background-image: url("/Assets/img/quesomos-fundo.jpg");
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#secao-quemSomos #titulo-quemSomos {
  position: absolute;
  color: #EFB43A;
  z-index: 1;
  top: 15vh;
  font-family: "ananda";
  font-size: 80px;
}

/* Estilos para o rodapé */
#rodape {
  width: 100%;
  height: 20vh;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#rodape #rodape-conteudos {
  width: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  padding-left: 40px;
}
#rodape #rodape-conteudos #rodape-conteudo-titulo {
  font-family: "Queen";
  color: #EFB43A;
}
#rodape #rodape-conteudos #link-imagem-maps {
  font-family: "Queen";
  color: #fff;
  text-decoration: none;
  margin-bottom: 32px;
}
#rodape #rodape-conteudos-barra {
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: #fff 1px solid;
  padding-left: 40px;
}
#rodape #rodape-conteudos-barra #rodape-conteudo-titulo {
  font-family: "Queen";
  color: #EFB43A;
}
#rodape #rodape-conteudos-barra #rodape-texto {
  font-family: "Queen";
  color: #fff;
}
#rodape #rodape-conteudos-barra {
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: #fff 1px solid;
  padding-left: 40px;
}
#rodape #rodape-conteudos-barra #rodape-conteudo-titulo {
  font-family: "Queen";
  color: #EFB43A;
}
#rodape #rodape-conteudos-barra #rodape-texto {
  font-family: "Queen";
  color: #fff;
}
#rodape #rodape-conteudos-barra {
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: #fff 1px solid;
  padding-left: 40px;
}
#rodape #rodape-conteudos-barra #rodape-conteudo-titulo {
  font-family: "Queen";
  color: #EFB43A;
}
#rodape #rodape-conteudos-barra #icones-redes #rodape-icone {
  font-size: 16px;
}
#rodape #rodape-conteudos-barra #rodape-texto-direitos-reservados {
  font-size: 12px;
  font-family: "Queen";
  color: #fff;
}/*# sourceMappingURL=style.css.map */